eventlet==0.29.1
Flask~=1.1.2
dnspython~=1.16.0
pip~=21.1
Jinja2~=2.11.3
Werkzeug~=1.0.1
itsdangerous~=1.1.0
click~=7.1.2
MarkupSafe~=1.1.1
six~=1.15.0
greenlet~=1.0.0
gunicorn~=20.1.0
bidict~=0.21.2
setuptools~=56.0.0